.goBackButtonContainer{
    height: 30px;
    width: 30px;
}
.goBackButton{
    padding-top: 3px;
    padding-left: 2px;
    background-color: #d63031;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    border:none;
}
.goBackButton:hover{
    transform: scale(1.05);
}
.goBackButton img{
    height: 25px;
    width: 25px;
}
.goToCreateButton{
    border-radius: 5px;
    margin-top: 10px;
    background: linear-gradient(to bottom,royalblue,dodgerblue);
    border:none;
    height: 30px;
    width: 120px;
    color: white;
    font-size: 15px;
}
.goToCreateButton:hover{
    transform: scale(1.05);
}
.goToCreateButtonContainer{
    display: flex;
    justify-content: center;
}
.noRoutines{
    text-align: center;
    color: #c0b5b5;
    margin-top: 150px;
}
.select{
    text-align: center;
    color: white;
    background-color: #333;
    border-color: #636e72;
    border-radius: 5px;
    height: 37px;
    width: 307px;
}
.selectContainer{
    margin-top: 100px;
    text-align: center;
}
body{
    background-color: #333;
    font-family: Arial, serif;
}
#goToMenuButton{
    border-radius: 5px;
    margin-top: 10px;
    background: linear-gradient(to bottom,royalblue,dodgerblue);
    border:none;
    height: 30px;
    width: 120px;
    color: white;
    font-size: 15px;
}
#goToMenuButton:hover{
    transform: scale(1.05);
}
.editRoutineButton, .deleteRutineButton {
    margin-top: 10px;
}
.deleteRoutineButton{
    border-radius: 5px;
    border:none;
    height: 30px;
    width: 140px;
    color: white;
    font-size: 15px;
    background-color: #d63031;
    margin-right: 10px;
}
.goToMenu {
    margin-left: 10px;
}