body{
    background-color: black;
    font-family: sans-serif;
}
nav{
    position: fixed;
    height: 60px;
    width: 100vw;
    border-top: .5rem solid #d63031;
    justify-content: space-between;
    align-items: center;
    z-index: 999999;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 15%;
    font-weight: 700;
    background: #d63031;
}
.logo::before{
    content: "GYM";
    color: black;
}
.logo::after{
    content: "Bros";
    color: white;
}
nav ul{
    display: flex;
    align-items: center;
    height: 60px;
}
nav ul a{
    text-decoration: none;
    color: white;
    margin: 0 2rem;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
}
nav ul li{
    list-style: none;
}
nav ul a:hover{
    color: #d63031;
}
.listNutrition{
    display: flex;
    justify-content: center;
}
.blackSpace{
    background-color: black;
    width: 33.3%;
    height: auto;
    margin-top: 200px;
}
.list{
    background: linear-gradient(to bottom, #636e72 , lightslategray, #636e72);
    width: 33.3%;
    height: auto;
    margin-top: 200px;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
    list-style: none;
}

.list ul li {
    list-style: none;
    margin-top: 20px;
}
.list ul a{
    text-decoration: none;
    color: white;
}
.list ul a:hover{
    color: #d63031;
}
.list h2{
    color: white;
}