.goBackButtonContainer{
    height: 30px;
    width: 30px;
}
.goBackButton{
    padding-top: 3px;
    padding-left: 2px;
    background-color: #d63031;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    border:none;
}
.goBackButton:hover{
    transform: scale(1.05);
}
.goBackButton img{
    height: 25px;
    width: 25px;
}
input[type=number] { /*for firefox*/
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { /*for Chrome*/
    -webkit-appearance: none;
    margin: 0;
}
.title{
    color: white;
    font-size: 18px;
    margin-left: 3px;
}
.field{
    color: white;
    background-color: #333;
    border-color: #636e72;
    border-radius: 5px;
    height: 37px;
    width: 307px;
    margin-left: 3px;
}
.select{
    color: white;
    background-color: #333;
    border-color: #636e72;
    border-radius: 5px;
    margin-left: 3px;
    height: 37px;
    width: 307px;
}
.numeric{
    margin-left: 5px;
    color: white;
    background-color: #333;
    border-color: #636e72;
    border-radius: 5px;
    width: 310px;
    height: 37px;
}
.textarea{
    margin-left: 5px;
    color: white;
    background-color: #333;
    border-color: #636e72;
    border-radius: 5px;
}
.lowerButtonsContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
}
.cancelButton, .saveButton{
    border-radius: 5px;
    border:none;
    height: 30px;
    width: 100px;
    color: white;
    font-size: 15px;
}
.cancelButton{
    background-color: #d63031;
    margin-right: 10px;
}
.cancelButton:hover{
    transform: scale(1.05);
}
.saveButton:hover{
    transform: scale(1.05);
}
.saveButton{
    background-color: limegreen;
}
body{
    background-color: #333;
    font-family: Arial, serif;
}