<!DOCTYPE html>
<html>
<head>
    <title>Crear Nutricion</title>
    <link rel="stylesheet" href="/css/styleCreateNutrition.css">
    <script>
        function validarFormulario() {
            var nombre = document.forms["formularioAgregarNutricion"]["nombre"].value;
            var comida = document.forms["formularioAgregarNutricion"]["comida"].value;
            var tipo = document.forms["formularioAgregarNutricion"]["tipo"].value;
            if (nombre === "" || comida === "" || tipo === "") {
                alert("Todos los campos son obligatorios");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <header>
        <nav>
            <h2 class="logo"></h2>
            <ul>
                <a href="/listNutrition"><li>VOLVER</li></a>
            </ul>
        </nav>
    </header>
    <div class="create">
        <div class="blackSpace">
        </div>
        <div class="boxAtributes">
            <h1>Crea tu propia nutricion</h1>
            {{#exito}}
                <p>Nutricion creada</p>
            {{/exito}}
            <form name="formularioAgregarNutricion" action="/listNutrition/CreateNutrition?id={{user.id}}" method="post" onsubmit="return validarFormulario()">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre"><br><br>
                <label for="comida">Comida:</label>
                <input type="text" id="comida" name="comida"><br><br>
                <label for="tipo">Tipo:</label>
                <input type="text" id="tipo" name="tipo"><br><br>
                <input type="submit" value="Agregar">
            </form>
        </div>
        <div class="blackSpace">
        </div>
    </div>
</body>
</html>