<!DOCTYPE html>
<html>
<head>
    <title>Eliminar rutina</title>
    <link rel="stylesheet" href="/css/styleDeleteRoutines.css">
    <script>
        function YES() {
            window.location.href = "/routines/delete/{{nutrition.id}}";
        }
        function NO() {
            window.location.href = "/routines/{{nutrition.id}}";
        }
    </script>
</head>
<body>
<div></div>
<div class="elimate">
    <div class="whiteSpace1">
    </div>
    <div class="modalWindow">
        <h4>¿ESTAS SEGURO QUE DESEA ELIMINAR LA RUTINA {{routine.id}}?</h4>
        <form>
            <p>Nombre de la rutina: {{routine.routineName}}</p>
            <p>Intensidad: {{routine.intensity}}</p>
            <p>Duración: {{routine.duration}}</p>
            <p>Ejercicios: </p>
            <br><br>
            <p>{{routine.exercises}}</p>
            <p>Objetivo: {{routine.goal}}</p>
            <button type="button" id="bottonYES" onclick="YES()">SI</button>
            <button type="button" id="bottonNO" onclick="NO()">NO</button>
        </form>
    </div>
    <div class="whiteSpace2">
    </div>
</div>
<div></div>
</body>
</html>