<!DOCTYPE html>
<html>
<head>
    <title>Detalle de la Nutricion</title>
    <link rel="stylesheet" href="/css/styleDetails.css">
</head>
<body>
    <header>
        <nav>
            <h2 class="logo"></h2>
            <ul>
                <a href="/ListaNutricion/ModificarNutricion/{{nutricion.id}}">Editar Nutricion</a>
                <a href="/ListaNutricion/EliminarNutricion/{{nutricion.id}}">Eliminar Nutricion</a>
                <a href="/ListaNutricion">Lista de nutriciones</a>
            </ul>
        </nav>
    </header>
    <div class="detalles">
        <div class="espacioNegro">
        </div>
        <div class="atributos">
            <h1>Nutricion {{nutricion.id}} - {{nutricion.nombre}}</h1>
            <p>Nombre: {{nutricion.nombre}}</p>
            <p>Comida: {{nutricion.comida}}</p>
            <p>Tipo: {{nutricion.tipo}}</p>
        </div>
        <div class="espacioNegro">
        </div>
    </div>
</body>
</html>