<!DOCTYPE html>
<html>
<head>
    <title>Detalle de la Nutricion</title>
    <link rel="stylesheet" href="/css/styleDetailsNutrition.css">
    <script>
        function deleteNutrition(){
            let confirmation = confirm('¿Estás seguro de querer eliminar esta nutricion?');
            if(confirmation){
                window.location.href = "/ListNutrition/DeleteNutrition/{{nutrition.id}}?userId={{userId}}";
            }
        }
    </script>
</head>
<body>
<header>
    <nav>
        <h2 class="logo"></h2>
        <ul>
            <a href="/ListNutrition/ModifyNutrition/{{nutrition.id}}?userId={{userId}}">Editar Nutricion</a>
            <a onclick="deleteNutrition()">Eliminar Nutricion</a>
            <a href="/ListNutrition?userId={{userId}}">Volver</a>
        </ul>
    </nav>
</header>
<div class="details">
    <div class="blackSpace"></div>
    <div class="atributes">
        <h1>Nutricion {{nutrition.id}} - {{nutrition.name}}</h1>
        <p>Nombre: {{nutrition.name}}</p>
        <p>Tipo: {{nutrition.type}}</p>
        <p>Alimentos:</p>
        <ul class="ul">
            {{#nutrition.listFoods}}
                <li class="li">{{this.name}}</li>
            {{/nutrition.listFoods}}
        </ul>
        <br><br>
        <a href="/ListFoods?nutritionId={{nutrition.id}}" class="buttonBlue">Editar alimentos</a>
        <br><br>
    </div>
    <div class="blackSpace"></div>
</div>
</body>
</html>