<!DOCTYPE html>
<html>
<head>
    <title>Detalle de la Nutricion</title>
</head>
<body>
<h1>Nutriciones</h1>
    <p>Nombre: {{nutrition.nombre}}</p>
    <p>Comida: {{nutrition.comida}}</p>
    <p>Tipo: {{nutrition.tipo}}</p>
    <a href="/ListaNutricion/ModificarNutricion/{{nutrition.id}}">Editar Nutricion</a>
    <a href="/ListaNutricion/EliminarNutricion/{{nutrition.id}}">Eliminar Nutricion</a>
    <a href="/ListaNutricion">Volver Listado</a>
</body>
</html>