<!DOCTYPE html>
<html>
<head>
    <title>Detalle de la Nutricion</title>
    <link rel="stylesheet" href="/css/styleDetailsNutrition.css">
</head>
<body>
    <header>
        <nav>
            <h2 class="logo"></h2>
            <ul>
                <a href="/ListNutrition/ModifyNutrition/{{nutrition.id}}">Editar Nutricion</a>
                <a href="/ListNutrition/DeleteNutrition/{{nutrition.id}}">Eliminar Nutricion</a>
                <a href="/ListNutrition?id={{userId}}">Lista de nutriciones</a>
            </ul>
        </nav>
    </header>
    <div class="details">
        <div class="blackSpace">
        </div>
        <div class="atributes">
            <h1>Nutricion {{nutrition.id}} - {{nutrition.nombre}}</h1>
            <p>Nombre: {{nutrition.nombre}}</p>
            <p>Comida: {{nutrition.comida}}</p>
            <p>Tipo: {{nutrition.tipo}}</p>
        </div>
        <div class="blackSpace">
        </div>
    </div>
</body>
</html>