<!DOCTYPE html>
<html>
<head>
    <title>Detalle de la Nutricion</title>
</head>
<body>
<h1>Nutriciones</h1>
    <p>Nombre: {{nutricion.nombre}}</p>
    <p>Comida: {{nutricion.comida}}</p>
    <p>Tipo: {{nutricion.tipo}}</p>
    <a href="/ListaNutricion/ModificarNutricion/{{nutricion.id}}">Editar Nutricion</a>
    <a href="/ListaNutricion/EliminarNutricion/{{nutricion.id}}">Eliminar Nutricion</a>
    <a href="/ListaNutricion">Volver Listado</a>
</body>
</html>