<!DOCTYPE html>
<html>
<head>
    <title>Eliminar Nutricion</title>
    <script>
        function confirmarEliminar(){
            
        }
    </script>

</head>
<body>
    <a href="{{Nutricion.id}}" onclick="confirmarEliminar()">Eliminar Nutricion</a>
    <a href="/ListaNutricion">Volver Listado</a>
</body>
</html>