<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 404</title>
</head>
<body>
<section class="error-message">
    <section class="container">
        <h1 class="animated bounce">404 Error</h1>
        <p>The page was not found</p>
    </section>
</section>
</body>
</html>