<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styleSearchFood.css">
    <script>
        function deleteFood(idNutrition, idFood){
            let confirmation = confirm('¿Estás seguro de querer eliminar este alimento?');
            if(confirmation){
                window.location.href = `/ListFoods/deleteFoodList?nutritionId=${encodeURIComponent(idNutrition)}&foodId=${encodeURIComponent(idFood)}`;
            }
        }
    </script>
</head>
<body>

<h2 class="tituloMenu">Añade tus alimentos</h2>
<p class="tituloMenu">Añade los alimentos que quieras a tu nutricion, ten en cuenta el tipo de nutricion</p>

<div class="row">
    <div class="left" style="background-color:#bbb;">
        <h2 class="tituloMenu">Lista de alimentos</h2>
        <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a category">
        <ul id="myMenu">
            {{#food}}
                <li>
                    <a href="/ListFoods/detailsFood/{{this.id}}?id={{nutrition.id}}">{{this.name}}</a>
                </li>
            {{/food}}
        </ul>
    </div>
    <div style="background-color:#ddd;" class="right">
        <h2 class="tituloMenu">Detalles de la nutricion</h2>
        <p class="tituloMenu">Nombre: {{nutrition.name}}</p>
        <p class="tituloMenu">Tipo: {{nutrition.type}}</p>
        <p class="tituloMenu">Alimentos</p>
        <ul class="ul">
            {{#nutrition.listFoods}}
                <li class="li">
                    {{this.name}}
                    <img src="../images/paperbin.png" alt="paperbin" height="15px" width="15px" onclick="deleteFood({{nutrition.id}},{{this.id}})">
                </li>
            {{/nutrition.listFoods}}
        </ul>
        <br><br>
        <div>
            <a href="/ListFoods/CreateFood?id={{nutrition.id}}" class="button buttonBlue">Crear alimento</a>
            <a href="/ListNutrition?id={{userId}}" class="button buttonBlue">Terminar nutricion</a>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        let input, filter, ul, li, a, i;
        input = document.getElementById("mySearch");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myMenu");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>

</body>
</html>
