<!DOCTYPE html>
<html>
<head>
    <title>FrontPage</title>
    <link rel="stylesheet" href="/css/styleFrontPage.css">
</head>
<body>
<header>
    <nav>
        <h2 class="logo"></h2>
        <ul>
            <a href="/users/{{user.id}}"><li>USUARIO</li></a>
            <a href="/routines?userId={{user.id}}"><li>RUTINA</li></a>
            <a href="/Nutrition?userId={{user.id}}"><li>NUTRICION</li></a>
            <a href="/Login"><li>SALIR</li></a>
        </ul>
    </nav>
    <div class="banner">
        <div class="intro">
            <div></div>
            <div>
                <p>Descubre un gimnasio en línea único donde puedes</p>
                <p>personalizar tus rutinas de entrenamiento con facilidad ¡Crea</p>
                <p>sesiones adaptadas a tus objetivos y disfruta de una</p>
                <p>experiencia de fitness a tu medida!</p>
            </div>
        </div>
        <div>
            <img src="../images/backgroundFontPage.jpg" alt="sportsman">
        </div>
    </div>
</header>
<div class="choose">
    <div class="card" style="background: #636e72;color: white">
        <a href="/users/{{user.id}}" style="color: white"><h2>USUARIO</h2></a>
        <p>Configura tu perfil</p>
    </div>
    <div class="card" style="color: #d63031;background: white">
        <li><a href="/routines?userId={{user.id}}" style="color: #d63031"><h2>RUTINA</h2></li></a>
        <p>Añade ejercicios a tu medida</p>
    </div>
    <div class="card" style="color: white;background: #d63031">
        <li><a href="/Nutrition?userId={{user.id}}" style="color: white"><h2>NUTRICION</h2></li></a>
        <p>Una buena alimentacion te ayudara</p>
    </div>
</div>
<div class="aboutUs">
    <div class="contactUs">
        <h2>Contactanos</h2>
        <li>Correo: GYMBros@gmail.com</li>
        <br>
        <li>Tlf: +34626889752</li>
        <br>
        <li>Arturo Soria (Madrid Centro)</li>
    </div>
    <div class="creators">
        <h2>Creadores</h2>
        <li>Gerardo Aranda Leon</li>
        <br>
        <li>Alvaro dela Orden Jimenez</li>
        <br>
        <li>Victor Candel Casado</li>
    </div>
    <div class="socialMedia">
        <h2>Redes Sociales</h2>
        <li>Instagram</li>
        <br>
        <li>Twitter</li>
        <br>
        <li>Tiktok</li>
    </div>
</div>
</body>
</html>