<!DOCTYPE html>
<html>
<head>
    <title>Listado de nutriciones</title>
    <link rel="stylesheet" href="css/styleNutritionList.css">
</head>
<body>
    <header>
        <nav>
            <h2 class="logo"></h2>
            <ul>
                <a href="/ListaNutricion/CrearNutricion"><li>CREAR NUTRICION</li></a>
                <a href="/Nutricion"><li>ATRAS</li></a>
                <a href="/Portada"><li>PORTADA</li></a>
            </ul>
        </nav>
    </header>
    <div class="listaNutriciones">
        <div class="espacioNegro">
        </div>
        <div class="lista">
            <h2>Lista de nutriciones</h2>
            <ul>
                {{#nutrition}}
                    <li>
                        <a href="/ListaNutricion/detalleNutricion/{{id}}">{{nombre}}</a>
                    </li>
                {{/nutrition}}
            </ul>
        </div>
        <div class="espacioNegro">
        </div>
    </div>
</body>
</html>