<!DOCTYPE html>
<html>
<head>
    <title>Listado de nutriciones</title>
    <link rel="stylesheet" href="/css/styleListNutrition.css">
</head>
<body>
<header>
    <nav>
        <h2 class="logo"></h2>
        <ul>
            <a href="/ListNutrition/CreateNutritionid={{user.id}}"><li>CREAR NUTRICION</li></a>
            <a href="/Nutrition?id={{user.id}}"><li>ATRAS</li></a>
            <a href="/FrontPage?id={{user.id}}"><li>PORTADA</li></a>
        </ul>
    </nav>
</header>
<div class="listNutrition">
    <div class="blackSpace">
    </div>
    <div class="list">

        <h2>Lista de nutriciones</h2>
        <ul>
            {{#nutrition}}
                <li>
                    <a href="/ListNutrition/detailsNutrition/{{id}}">{{nombre}}</a>
                </li>
            {{/nutrition}}
        </ul>
    </div>
    <div class="blackSpace">
    </div>
</div>
</body>
</html>