<!DOCTYPE html>
<html>
<head>
    <title>Editar Nutricion</title>
</head>
<body>
    <h1>Editar Nutricion</h1>
    <form action="/ListaNutricion/ModificarNutricion" method="post">
        <input type="hidden" name="id" value="{{nutrition.id}}">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{nutrition.nombre}}"><br><br>
        <label for="comida">Comida:</label>
        <input type="text" id="comida" name="comida" value="{{nutrition.comida}}"><br><br>
        <label for="tipo">Tipo:</label>
        <input type="text" id="tipo" name="tipo" value="{{nutrition.tipo}}"><br><br>
        <input type="submit" value="Editar">
    </form>
</body>
</html>