<!DOCTYPE html>
<html>
<head>
    <title>Editar Nutricion</title>
    <link rel="stylesheet" href="/css/styleModifyNutrition.css">
    <script>
        function validateForm(){
            let nutritionName = document.forms["editNutritionForm"]["name"].value;
            console.log(nutritionName)
            if (nutritionName === "") {
                alert("Longitud en el nombre de la nutrición no válida (nombre vacío).");
                return false;
            }
        }
    </script>
</head>
<body>
<header>
    <nav>
        <h2 class="logo"></h2>
        <ul>
            <a href="/ListNutrition/detailsNutrition/{{nutrition.id}}?userId={{userId}}"><li>ATRAS</li></a>
        </ul>
    </nav>
</header>
<div class="modify">
    <div class="blackSpace"></div>
    <div class="changes">
        <h1>Editar Nutricion</h1>
        <form name="editNutritionForm" method="post" onsubmit="return validateForm()" action="/ListNutrition/ModifyNutrition/{{nutrition.id}}?userId={{userId}}" method="post">
        <input type="hidden" name="id" value="{{nutrition.id}}">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" value="{{nutrition.name}}" required><br><br>
        <label for="type">Tipo:</label>
        <input type="text" id="type" name="type" value="{{nutrition.type}}" required><br><br>
        <input type="submit" value="Editar">
        </form>
    </div>
    <div class="blackSpace"></div>
</div>
</body>
</html>