<!DOCTYPE html>
<html>
    <head>
        <title>Rutinas</title>
        <link rel="stylesheet" href="/css/styleRoutines.css">
        <script>
            function goBackwards(){
                window.location.href = "/Portada?id={{userId}}";
            }
        </script>
    </head>
    <body>
        <div class="goBackButtonContainer">
            <button type="button" class="goBackButton" onclick="goBackwards()">
                <img src="/imagenes/goBack.jpg" alt="flechaPaginaAnterior">
            </button>
        </div>
        <header>
            <nav>
                <a href="/routines/createRoutine?id={{userId}}">CREAR NUTRICION</a>
            </nav>
        </header>
        {{^routines}}
            <p class="noRoutines">Todavia no se han agregado rutinas</p>
        {{/routines}}
        {{#routines}}
            <select>
                <option>
                    {{name}}
                </option>
            </select>
        {{/routines}}
    </body>
</html>