<!DOCTYPE html>
<html>
<head>
    <title>Rutinas</title>
    <link rel="stylesheet" href="/css/styleRoutines.css">
    <script>
        function goBackwards(){
            window.location.href = "/FrontPage?userId={{userId}}";
        }
        function goToCreate(){
            window.location.href = "/routines/createRoutine?userId={{userId}}";
        }
        function getURL(){
            const routineSelected = document.getElementById("selectRoutine").value;
            window.location.href = routineSelected + "?userId={{userId}}";
        }
    </script>
</head>
<body>
<div class="goBackButtonContainer">
    <button type="button" class="goBackButton" onclick="goBackwards()">
        <img src="/images/goBack.jpg" alt="arrowPreviousPage">
    </button>
</div>
<br><br>
<div class="goToCreateButtonContainer">
    <button type="button" class="goToCreateButton" onclick="goToCreate()">Crear rutina</button>
</div>
{{^routines}}
    <p class="noRoutines">Todavia no se han agregado rutinas</p>
{{/routines}}
<div class="selectContainer">
    <select class="select" id="selectRoutine">
        {{#routines}}
            <option value="/routines/{{this.id}}">
                {{routineName}}
            </option>
        {{/routines}}
    </select>
    <button class="goToMenu" id="goToMenuButton" onclick="getURL()">Seleccionar</button>
</div>
</body>
</html>