<!DOCTYPE html>
<html>
<head>
    <title>Perfil de usuario</title>
    <link rel="stylesheet" href="/css/styleUsers.css">
    <script>
        function goToEdit(){
            window.location.href = "edit/{{user.id}}";
        }
        function goBackwards(){
            window.location.href = "/FrontPage?userId={{user.id}}";
        }
        function deleteUser(){
            let confirmation = confirm('¿Estás seguro de querer eliminar este usuario?');
            if(confirmation){
                window.location.href = "/users/delete/{{user.id}}";
            }
        }
    </script>
</head>
<body>
<div class="goBackButtonContainer">
    <button type="button" class="goBackButton" onclick="goBackwards()">
        <img src="/images/goBack.jpg" alt="arrowPreviousPage">
    </button>
</div>
<div class="userImage">
    <img alt="Foto usuario" src={{user.userImage}}>
</div>
<p class="username">{{user.username}}</p>
<p class="title">Género</p>
<p class="description">
    {{#user.gender}}
        {{user.gender}}
    {{/user.gender}}
    {{^user.gender}}
        No especificado aún
    {{/user.gender}}
</p>
<p class="title">Altura</p>
<p class="description">
    {{#user.height}}
        {{user.height}}
    {{/user.height}}
    {{^user.height}}
        No especificado aún
    {{/user.height}}
</p>
<p class="title">Edad</p>
<p class="description">
    {{#user.age}}
        {{user.age}}
    {{/user.age}}
    {{^user.age}}
        No especificado aún
    {{/user.age}}
</p>
<p class="title">Peso</p>
<p class="description">
    {{#user.weight}}
        {{user.weight}}
    {{/user.weight}}
    {{^user.weight}}
        No especificado aún
    {{/user.weight}}
</p>
<p class="title">Peso objetivo</p>
<p class="description">
    {{#user.goalWeight}}
        {{user.goalWeight}}
    {{/user.goalWeight}}
    {{^user.goalWeight}}
        No especificado aún
    {{/user.goalWeight}}
</p>
<p class="title">Morfologia</p>
<p class="description">
    {{#user.morphology}}
        {{user.morphology}}
    {{/user.morphology}}
    {{^user.morphology}}
        No especificado aún
    {{/user.morphology}}
</p>
<p class="title">Etapa calórica</p>
<p class="description">
    {{#user.caloricPhase}}
        {{user.caloricPhase}}
    {{/user.caloricPhase}}
    {{^user.caloricPhase}}
        No especificado aún
    {{/user.caloricPhase}}
</p>
<br>
<span class="buttonContainer">
            <button type="button" class="deleteUserButton" onclick="deleteUser()">Eliminar usuario</button>
            <button type="button" class="editProfileButton" onclick="goToEdit()">Editar perfil</button>
        </span>
</body>
</html>